<div class="log">
  <h1>Sign up to rent playboards !</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class= "log-block">
        <%= f.input :first_name, style:"width: 55%"%>
        <%= f.input :last_name, style:"width: 55%" %>
      </div>
      <div class= "log-block">
        <%= f.input :phone %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>
      <div class= "log-block">
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
      
      <div class= "log-block">
        <%= f.input :city_code %>
        <%= f.input :city %>
      </div>
      <div class= "log-block"><%= f.input :street_number %>
        <%= f.input :street %>
      </div>
        <%= f.input :photo, as: :file, label: 'Your photo :' %>
      </div>

    <div class="form-actions">
      <div class= "log-block">
        <%= f.button :submit, "Sign up", class:'bric-btn' %>
        <%= link_to 'I already have an account',  new_user_session_path %>
      </div>
    </div>
  <% end %>

</div>