<div id="footer">
  <%= link_to root_path do %>
    <i class="fas fa-home <%= 'footer-active' if request.fullpath == '/' %>"></i>
  <% end %>
  <%= link_to games_path do %>
    <i class="fas fa-search <%= 'footer-active' if request.fullpath == '/games' %>"></i>
  <% end %>
  <%= link_to dashboard_path do %>
    <i class="far fa-user-circle <%= 'footer-active' if request.fullpath == '/dashboard' %>"></i>
  <% end %>
</div>