<div class="mob-nav-dash">
<%= link_to dashboard_path do %>
  <p style="margin:0px"><i class="fas fa-arrow-circle-left" style="margin-right: 10px"></i>Back to dashboard</p>
<% end %>
</div>

      <div id="dash-my-games-bookings">
        <h1 style="margin-top:70px; padding: 15px; text-align:center">My bookings</h1>
          <% if @bookings.count == 0 %>
            <p style="text-align:center">You haven't booked any playboard yet.</p>
          <% else %>
            <div class="sorting-bookings">
              <p class="sorting-select">Future rents</p>
              <p class="sorting-unselect">Previous rents</p>
            </div>
            <div class="booking-grid">
              <% @bookings.each do |booking| %>
                <div class="booking-box <% if booking.start >= Date.today %>future-booking<% else %>previous-booking d-none<% end %>">
                  <h2><%= booking.game.name %></h2>
                  <p>Booked to <%= booking.game.user.first_name %></p>
                  <%= cl_image_tag booking.game.photo.key %>
                  <p style="margin:0px; color:black"><%= booking.start %> <i class="fas fa-long-arrow-alt-right"></i> <%= booking.end %></p>
                  <p style="margin:0px; color:black;">$<%= (((booking.end - booking.start) +1)*booking.game.price).to_i %> for <%= ((booking.end - booking.start) +1).to_i %> days</p>
                </div>
              <% end %>
            </div>
          <% end %>
          
      </div>
