<div style="padding: 5%; position: fixed; left: 10px; top: 0px; background-color:#F4F4F4; width: 100%">
<%= link_to dashboard_path do %>
  <p style="margin:0px"><i class="fas fa-arrow-circle-left" style="margin-right: 15px"></i>Back to my dashboard</p>
<% end %>
</div>

<div id="dash-my-games" style="padding: 5%; margin-top: 50px">
  <% if @games.count == 0 %>
    <div class="games-count">
      <h1 style="text-align: center">No playboard at the moment! </h1>
      <%= link_to "ADD A PLAYBOARD TO RENT", new_game_path, class:"bric-btn" %>
    </div>
  <% elsif @games.count == 1 %>
    <div class="games-count">
      <h1 style="text-align: center">You have only 1 playboard! </h1>
    </div>
  <% else %>
    <div class="games-count">
      <h1 style="text-align: center">You have <%= @games.count %> playboards! </h1>
    </div>
  <% end %>
  <% if @games.count != 0 %>
    <div class="games-grid">
      <% @games.each do |game| %>
        <div class="game-box">
          <h2 style="margin-top: 20px"><%= game.name %></h2>
          <%= cl_image_tag game.photo.key %>
          <div class="about-this-game">
            <p><%= game.category %></p>
            <p><%= game.time %></p>
          </div>
          <div class="about-this-game">
            <p><%= game.min_age %> to <%= game.max_age %> years old</p> 
            <p><%= game.min_players %> to <%= game.max_players %> players</p>
          </div>
          <p style="margin-top: 20px; height: 80px;" class="black"><%= game.description %></p>
          <p class="black" style="height: 80px;">This game contains: <%= game.content %>. It is in <%= game.condition %>.</p>
          <div class="last-line">
            <p class="black"><b><%= game.price %> $ a day</b></p>
            <div class="edit-game">
              <%= link_to edit_game_path(game) do %><i class="far fa-edit"></i><% end %>
              <%= link_to game_path(game), method: :delete, data: { confirm: "Are you sure?" } do %><i class="far fa-trash-alt"></i><% end %>
            </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= link_to new_game_path, style:"position: fixed; bottom: 54px; width: 70%; margin-left: 15%; margin-right: 15%; background-color: #D90429; text-align:center; color:white; padding: 8px; border-radius: 30px;" do %><i class="fas fa-plus-circle" style="margin-right: 15px; color:white"></i> ADD A PLAYBOARD<% end %>
