<div id="games-index">
  <%# <h1>Board games where you want, whenever you want</h1> %>
</div>
<div id="games">
  <div id="games-left">
  <h3 style="color: black"><b>Filter your search:</b></h3>
    <%= form_tag games_path, method: :get do %>
      <%= select_tag :category, options_for_select(["Escape game", "Cooperative board game", "Strategy game", "Party game", "Card game", "Classic board game", "General culture games"]), prompt: 'Category of the game', class:'input-filter' %>
      <%= text_field_tag :age, nil, placeholder: "Average players'age", class:'input-filter' %>
      <%= text_field_tag :players, nil, placeholder: 'Number of players', class:'input-filter' %>
      <%= text_field_tag :max_price, nil, placeholder: 'Max price you want', class:'input-filter' %>
      <%= text_field_tag :city, nil, placeholder: 'City to take it', class:'input-filter'%>
      <br><br>
      <%= submit_tag "SHOW PLAYBOARDS" , class:'bric-btn' %>
    <% end %>
  </div>

  <div id="games-right">
          <div class="games-grid">
            <% @games.each do |game| %>
              <%= link_to game_path(game) do %>
              <div class="game-box">
                <h2 style="margin-top: 20px"><%= game.name %></h2>
                <%= cl_image_tag game.photo.key %>
                <div class="about-this-game">
                  <p><%= game.category %></p>
                  <p><%= game.min_players %> to <%= game.max_players %> players</p>
                </div>
                <div class="last-line">
                <p class="black" style="margin-bottom: 0px"><b><%= game.price %> $ a day</b></p>
                <i class="fas fa-angle-double-right" style="color: #D90429"></i>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
  </div>
</div>
