<div id="games-index">
  <h1>Board games where you want, whenever you want</h1>
</div>
<div id="games">
  <div id="games-left">
  <p style="color: black"><b>Filters:</b></p>
    <%= form_tag games_path, method: :get do %>
    <p>Category:</p>
        <%= select_tag :category,
          options_for_select(["Escape game", "Cooperative board game", "Strategy game", "Party game", "Card game", "Classic board game", "General culture games"]), prompt: 'Category' %>
      <p>Age:</p>
      <%= text_field_tag :age %>
      <p>Number of players:</p>
      <%= text_field_tag :players %>
      <p>Max price per day:</p>
      <%= text_field_tag :max_price %>
      <p>City where you take the board:</p>
      <%= text_field_tag :city %>
      <br><br>
      <%= submit_tag "SHOW PLAYBOARDS" %>
    <% end %>
  </div>

  <div id="games-right">
    <% @games.each do |game| %>
  <%= game.name %>
  <% end %>
  </div>
</div>
