<div class="log">
<h1>Add a new playboard</h1>
  <%= simple_form_for(@game) do |f| %>
  <div class="log-block">
    <%= f.input :name, placeholder: "Game's name" %>
    <%= f.input :category, prompt: "Select", collection:  ["Escape game", "Cooperative board game", "Strategy game", "Party game", "Card game", "Classic board game", "General culture games"] %>
  </div>
  <div class="log-block">
    <%= f.input :description, placeholder: "Explain what this game is about" %>
  </div>
  <div class="log-block">
    <%= f.input :time, placeholder: "45 min" %>
    <%= f.input :price, as: :numeric, placeholder: "Price per day"  %>
    <%= f.input :condition, prompt: "Select", collection: ["very good state", "good state", "satisfactory"] %>
  </div>
  <div class="log-block">
    <%= f.input :min_age, as: :numeric, placeholder: "3" %>
    <%= f.input :max_age, as: :numeric, placeholder: "99"  %>
    <%= f.input :min_players, as: :numeric, placeholder: "4"  %>
    <%= f.input :max_players, as: :numeric, placeholder: "12" %>
  </div>
 
    <%= f.input :content, placeholder: "25 cards, 1 board, 5 pawns" %>
    <%= f.input :photo, as: :file, label:'Photo of the game 📸' %>
    <%= f.submit class:'bric-btn', style:"width:fit-content; padding-left: 40px; padding-right: 40px; margin-top: 30px" %>
  <% end %>
</div>